
<hr>

<p class = "footer">
	<a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer">Email</a> |
	<a href="http://twitter.com/{{ site.twitter_user }}" target="_blank" rel="noopener noreferrer">Twitter</a> |
	<a href="http://orcid.org/{{ site.orcid_user }}" target="_blank" rel="noopener noreferrer">ORCiD</a> |
	<a href="http://github.com/{{ site.github_user }}" target="_blank" rel="noopener noreferrer">Github</a> |
	<a href="http://stackoverflow.com/users/{{ site.stackoverflow_user }}" target="_blank" rel="noopener noreferrer">StackOverflow</a> |
	<a href="http://linkedin.com/in/{{ site.linkedin_user }}" target="_blank" rel="noopener noreferrer">LinkedIn</a>
<p>
