
$basepadding: 16px;

html, body {height: 100%;}

body, h1, h2, h3, h4, h5, h6, p {
    font-family: "Roboto Condensed", sans-serif;
    color: #1c1c1c;
    line-height: 1.4;
}

body {
    background-color: #f2efed;
    margin: auto;
    width: 85%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

h1 {
    font-size: 18pt;
    color: #1c1c1c;
    padding-top: 0pt;
    padding-bottom: 0px;
}

h2 {
    font-size: 14pt;
    padding-top: $basepadding;
    padding-bottom: 0px;
}

h3 {
    font-size: 12pt;
    padding-top: $basepadding;
    padding-bottom: 0px;
}

p {
    font-size: 12pt;
    padding-top: 0px;
    padding-bottom: 0px;
}

a:link, a:visited {
    color: #2a6e7c;
    text-decoration: none;
}

a:hover {
    color: #2a6e7c;
    text-decoration: underline;
    text-underline-offset: 10%;
}

ul {
    list-style-type: square;
    padding-left: 16px;
}

li { padding: 4px 0px; }

hr {
    border: none;
    height: 3px;
    color: #1c1c1c;
    background-color: #1c1c1c;
}

pre {
    background: #1c4953;
    color: #ffffff;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    max-width: 100%;
    overflow: auto;
    padding: $basepadding $basepadding;
    display: block;
    word-wrap: break-word;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

img.full {
    width: 100%;
    height: 100%;
}

img.default {
    max-width: 400px;
    width: 80%;
    height: 80%;
}

table, th, td {
    border-collapse: collapse;
    border: 0px;
    text-align: center;
    vertical-align: middle;
    padding: 6px;
}

th {
    background-color: #1c4953;
    color: white;
}

tr:nth-child(even){background-color: #ececeb;}
tr:nth-child(odd){background-color: #ffffff;}

.content {
  flex: 1 0 auto;
}

.nav{
    padding-top: $basepadding;
    padding-bottom: $basepadding;
    border-bottom: solid;
    border-width: 3px;
    border-color: #1c1c1c;
}

.footer {
    padding-top: $basepadding;
    padding-bottom: $basepadding;
    text-align: center;
    font-size: 90%;
    border-top: solid;
    border-width: 3px;
    border-color: #1c1c1c;
    flex-shrink: 0;
    margin-top: $basepadding;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: $basepadding;
  padding-bottom: $basepadding;
}

.tabcenter {
  margin-left: auto;
  margin-right: auto;
}

.container {
  overflow-x: auto;
  overflow-y: auto;
}
