
body {
  background-color: #e1d6ca;
  font-family: "Roboto Condensed";
  color: #1c1c1c;
  margin: auto;
}

a{
    color: #287b8e;
    text-decoration: none;
}

.footer {
  text-align: center;
  font-size: 85%;
}
