<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175203179-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-175203179-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Thiago Scarelli">
    <meta name="author" content="Thiago Scarelli">

    <title>
        {% if page.title %}
            {{ page.title }} &middot; {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <script src="{{ site.baseurl }}/theme/js/jquery-3.4.1.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/bootstrap-4.4.1.bundle.min.js"></script>

    <link rel="icon" type="image/png" sizes="32x32" href="/theme/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/theme/img/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/theme/img/apple-touch-icon.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">

    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/site.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/syntax.css">

    {% seo %}

</head>
