<!DOCTYPE html>
	<html>

    <head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/style.css">
		</head>
		
    <body>
      
      <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/research">Research</a></li>
          <li><a href="/teaching">Teaching</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>
      </header>
      
      <div class="container">
			{{ content }}
			</div>
      
      <footer>
	    		<ul>
	        		<li><a href="mailto:thiago.scarelli@psemail.eu">email</a></li>
              <li><a href="https://github.com/thiagoscarelli">github.com/thiagoscarelli</a></li>
				</ul>
			</footer>
      
		</body>
	</html>
